body, header, nav, ul, li, section, article, h1, h2, aside, a, p, div, footer, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("images/background-flowers.jpg") fixed;
    font-family: "Arial", sans-serif;
    font-size: 15px;
}
#wrapper{
    width: 80%;
    max-width: 100%;
    margin: auto 10%;
    display: flex;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
}
#wrapper header, section, aside, footer{
    border: 1px solid black;
    background: rgba(255, 200, 228, 0.80)
}
header{
    margin: auto 10%;
    flex-flow: row;


}
image{
    flex-direction: row;
    width: 10%;

}
nav{
    flex-flow: row wrap;
    align-items: flex-end;
    flex-direction: row;
}
header nav ul{
    flex-direction: row;
}
header nav ul li{
    border: 1px solid;
    background-color: #fe5590;
    width: 20%;
    flex-direction: row;
    justify-content: flex-end;
    flex-flow: row wrap;
    align-items: flex-end;

    padding: 1% 5%;
    margin: 5% 2%;
    list-style-type: none;
    text-align: center;
}
header nav ul li a{
    width: 10%;
    height: 40px;
    color: #ffffff;
    text-decoration: none;
    flex-direction: row;
    justify-content: flex-end;
    flex-flow: row wrap;
    align-items: flex-end;

}
body section {
    flex: 4;
    margin: 0 2% 5% 2%;
    height: 100%;
    padding: 1% 0 2% 1%;
}

.left{
    flex-direction: column;
    float: left;
}